 :root{  
    --mainGreenColor: #71A894;

    --mainGrayLight: #F9F9F9;

    --mainGrayLight2: #E7E7E7;

    --mainTextBlack:#303831;

 --fontRoboto:'Roboto', sans-serif;;

--fontOpenSans:'Open Sans', sans-serif;}